node_modules
.backup
.fx/configs/localSettings.json
.fx/states/*.userdata
.DS_Store
.archive
.archive.log
.env.teamsfx.local
subscriptionInfo.json
.fx/configs/config.local.json
.fx/states/state.local.json