.body-layout {
  overflow-x: hidden;
}

.area-chart {
  font-weight: 700 !important;
  font-size: 1.125rem !important;
  line-height: 1.5rem !important;
  color: var(--color-neutralForeground1);
}

.action-layout {
  display: grid;
  grid-template-columns: repeat(4, max-content);
}

.legend-layout {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(7, max-content);
  align-items: center;
  margin-bottom: 1.25rem;
  overflow-x: auto;
}

.legend-item-layout {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.25rem;
  align-items: end;
}

.legend-divider {
  height: 0.875rem;
  width: 1px;
  background-color: var(--colorNeutralForeground4);
}

.legend-bold {
  font-weight: 700 !important;
  font-size: 0.75rem !important;
  line-height: 1rem !important;
  color: var(--colorNeutralForeground3);
}

.legend-normal {
  font-weight: 400 !important;
  font-size: 0.75rem !important;
  line-height: 1rem !important;
  color: var(--colorNeutralForeground4);
}

.time-span-layout {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(3, max-content);
}

.time-span {
  font-size: 0.6875rem !important;
  font-weight: 400 !important;
  line-height: 0.625rem !important;
  width: min-content !important;
  min-width: max-content !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.area-chart-layout {
  position: relative;
  height: 200px;
  width: 100%;
}

.table-layout {
  display: grid;
  gap: 0.69rem;
  margin-top: 2.5rem;
}

.backlog-layout {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
}

.table-content-layout {
  display: grid;
  overflow-x: auto;
  gap: 0.75rem;
}

.backlog {
  font-weight: 600 !important;
  font-size: 0.75rem !important;
  line-height: 1rem !important;
}

.table-column {
  display: grid;
  grid-template-columns: 8fr 4fr 4fr 2fr 2fr;
  gap: 0.6rem;
  align-items: center;
}

.min-width-18 {
  min-width: 18rem;
}

.min-width-8 {
  min-width: 8rem;
}

.min-width-4 {
  min-width: 4rem;
}

.table-header {
  font-weight: 400 !important;
  font-size: 0.75rem !important;
  line-height: 2rem !important;
  color: var(--colorNeutralForeground4);
}

.title {
  display: grid;
  gap: 0.6rem;
  grid-template-columns: max-content max-content 1fr;
  min-width: 18rem;
}

.avatar {
  display: grid;
  gap: 0.25rem;
  align-items: center;
  grid-template-columns: max-content 1fr;
  min-width: 8rem;
}

.state-layout {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 0.375rem;
  min-width: 4rem;
}

.state {
  font-weight: 700 !important;
  font-size: 0.625rem !important;
  line-height: 0.75rem !important;
  color: var(--colorNeutralForeground1);
}

.divider {
  height: 1px;
  background-color: var(--colorNeutralStroke2);
}
