.colla-body-layout {
  display: grid;
  gap: 0.75rem;
  overflow-x: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.collo-display {
  display: grid;
  min-width: 12.5rem;
}

.colla-title {
  font-weight: 600 !important;
  font-size: 0.75rem !important;
  line-height: 1rem !important;
  margin-top: 0.5rem;
}

.colla-description {
  font-weight: 400 !important;
  font-size: 0.75rem !important;
  line-height: 1rem !important;
  margin-bottom: 1.125rem !important;
  color: var(--colorNeutralForeground3);
  margin-top: 0.25rem;
}

.footer-layout {
  display: grid;
  align-items: center;
  grid-template-columns: 8fr min-content max-content 2fr;
}

.share-btn {
  justify-content: start !important;
  padding: 0 !important;
}

.colorNeutralForeground3 {
  color: var(--colorNeutralForeground3);
}
