# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# TeamsFx files
teamsfx/.env.dev
teamsfx/.env.local

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env*.local
.deployment
