# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

/NPM-search-connector-M365 @kimizhu
/adaptive-card-notification @kimizhu
/bot-sso @eriolchan
/command-bot-with-sso @adashen @SLdragon
/graph-connector-app @adashen @formulahendry
/graph-connector-bot @adashen @formulahendry
/graph-toolkit-contact-exporter @adashen @SLdragon
/graph-toolkit-one-productivity-hub @adashen @SLdragon
/graph-toolkit-productivity-hub-aspnetcore @adashen @SLdragon
/hello-world-bot-with-tab @eriolchan
/hello-world-in-meeting @eriolchan
/hello-world-tab-with-backend @eriolchan
/hello-world-teams-tab-and-outlook-add-in @1yefuwang1
/incoming-webhook-notification @kimizhu
/query-org-user-with-message-extension-sso @adashen @wenytang-ms
/share-now @adashen @xzf0587
/stocks-update-notification-bot @kimizhu
/stocks-update-notification-bot-dotnet @kimizhu
/todo-list-SPFx @HuihuiWu-Microsoft
/team-central-dashboard @huimiu
/todo-list-with-Azure-backend @adashen @formulahendry
/todo-list-with-Azure-backend-M365 @kimizhu
/.github/workflows/cd.yml @adashen @LongOddCode @IvanJobs @qinezh @wenytang-ms