node_modules
/.fx/*.env
/.fx/*.userdata
/.fx/subscriptionInfo.json
.DS_Store
/.fx/configs/localSettings.json
/.fx/states/*.userdata
**/.env.teamsfx.local
.fx/configs/config.local.json
.fx/states/state.local.json
build