.empty-layout {
    display: grid;
    height: 100%;
    gap: 1rem;
}

.loading-layout {
    display: grid;
}

.empty-layout img {
    height: 155px;
    justify-self: center;
    align-self: center;
}

.empty-layout span {
    justify-content: center;
    text-align: center;
}

.footer-btn button {
    color: var(--colorBrandForeground1);
    padding: 0;
  }