.default-container .notification-container {
    box-sizing: border-box;
    position: fixed;
    background-color: white;
    z-index: 1;
    width: 100vw;
    top: 0rem;
    color: black !important;
    box-shadow: -1px 0.3rem 0.3rem #dedddd;
    opacity: 1 !important;
}

.dark-container .notification-container {
    box-sizing: border-box;
    position: fixed;
    z-index: 1;
    top: 0rem;
    width: 100vw;
    background-color: white;
    color: black !important;
    box-shadow: -1px 0.3rem 0.3rem #605E5C;
}

.contrast-container .notification-container {
    box-sizing: border-box;
    position: fixed;
    z-index: 1;
    top: 0rem;
    width: 100vw;
    background-color: white;
    color: black !important;
    box-shadow: -1px 0.3rem 0.3rem black;
}

.notification-success {
    position: relative;
    overflow: hidden;
    padding: 1.6rem;
    width: 100vw;
    height: 5rem;
    opacity: 1 !important;
    background-repeat: no-repeat;
    border: none !important;
    background-color: rgba(146, 195, 89, 0.25);
}

.notification-error {
    position: relative;
    overflow: hidden;
    padding: 1.6rem;
    width: 100vw;
    height: 5rem;
    opacity: 1 !important;
    background-repeat: no-repeat;
    border: none !important;
    background-color: rgba(249, 236, 234, 0.25);
}

.close-button {
    cursor: pointer;
    padding-right: 1rem;
}
