.dark-container .card-bg {
    background-color: #323131;
    position: relative;
    width: 100% !important;
    height: 28rem;
    padding: 1.33rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
}

.high-contrast-container .card-bg {
    background-color: #000;
    position: relative;
    width: 100% !important;
    height: 28rem;
    padding: 1.33rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
}

.default-container .card-bg {
    background-color: #fff;
    position: relative;
    width: 100% !important;
    height: 28rem;
    padding: 1.33rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
}

.dark-container .initials-color {
    color: #484644;
}

.card-thumbnail {
    width: 100%;
    height: 20rem !important;
}

.card-body {
    height: 19.5rem;
    padding: 0 !important;
}

.title-flex {
    max-height: 5rem;
}

.title-text {
    font-size: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

    .title-text:hover {
        color: #6264A7;
        text-decoration: underline;
        cursor: pointer;
    }

.content-flex {
    height: 11rem;
    overflow: hidden;
}

.content-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

.tags-flex {
    height: 3rem;
    position: relative;
    width: inherit;
    margin-bottom: 0.3rem;
}

.tag-text-form {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 15rem;
    white-space: nowrap;
}

.tag-text-card {
    max-width: 7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tag-container {
    padding: 1.7rem;
    margin-top: 0.25rem;
}

.footer-flex {
    width: 100%;
    bottom: 0.9rem;
    height: 7.5rem;
    position: relative;
    display: block;
}

.more-menu-bar {
    position: absolute;
    width: inherit;
    height: 5rem;
}

.author-name {
    width: 12.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.author-name-container {
    padding: 0;
}

.post-type-icon-card {
    border-radius: 1rem;
    height: 1rem !important;
    width: 1rem !important;
    margin-right: 0rem !important;
    margin-top: 0.5rem;
}

.post-type-container {
    max-width: 10rem;
    min-width: fit-content;
    background-color: white !important;
}

.post-type {
    max-width: 10rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    font-size: 1.1rem !important;
}

.reaction-container {
    size: small;
}

.custom-fluid-container {
    height: 99%;
    position: relative;
}

.tags-label-wrapper {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    margin-top: 1rem !important;
    height: 2.67rem !important;
    margin-right: 0.33rem !important;
}

.dark-container .tags-label-wrapper {
    background-color: #484644 !important;
    color: #ffffff !important;
}

.scroll-view {
    margin-top: 1rem;
    height: 90vh;
    overflow-Y: auto;
    overflow-X: hidden;
    bottom: 1px;
}

.like-count-wrapper {
    display: inline-flex;
    cursor: pointer;
    margin-right: 1.5rem !important;
    vertical-align: center;
}

.like-count-text {
    margin-right: 0.5rem;
}

.grid-column {
    padding: 0.66rem;
}

.more-menu-wrapper {
    width: 2rem;
}

.more-menu-loader {
    margin-right: 0.5rem;
}

.user-avatar-card {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
    padding-top: 0.4rem;
}

.row {
    margin-right: -1rem !important;
    margin-left: -1rem !important;
}

.checkbox-wrapper {
    padding: 0.5rem;
}

.vote-icon-filled {
    color: #6264A7;
}

.vote-icon:hover {
    color: #6264A7;
}

@media only screen and (min-width: 651px) and (max-width: 700px) {
    .tags-label-wrapper {
        padding-left: 0.6rem !important;
        padding-right: 0.6rem !important;
        margin-right: 0.6rem !important;
    }
}
