.input-fields-margin-between {
    top: 85%;
    margin-left: 34.5rem;
    position: absolute;
}

.search-icon-preferences {
    cursor: pointer;
    margin-top: 0rem;
}

.tag-list-box {
    width: 100%;
    max-height: 13rem;
    box-shadow: 0px 2px 2px 1px grey;
    overflow: scroll;
}

.no-tag-found {
    width: 54.3rem;
    height: 2rem;
    box-shadow: 0px 2px 2px 1px grey;
    text-align: center;
}

.no-tag-found-config {
    width: 53.5rem;
    height: 2rem;
    box-shadow: 0px 2px 2px 1px grey;
    text-align: center;
}

.auto-suggestion-list-item {
    width: 100%;
    height: 3rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
}

.auto-suggestion-list-item:hover {
    background-color: #6264A7;
    color: white;
    cursor: pointer;
}

.configure-preferences-div {
    margin-left: 3.2rem;
    margin-right: 3.2rem;
    height: 100vh;
}

.dialog-container-div-config {
    height: 44.2rem;
    overflow: hidden;
}

.config-container {
    margin-left: 0.1%;
    height: 15rem;
}

.footer {
    position: absolute;
    bottom: 3.2rem;
    width: 90vw;
}

.config-container {
    margin-left: 0.1%;
}


.frequency-label {
    padding-top: 2rem;
}


.tag-error-label {
    color: red;
    margin-left: 40rem;
}

.tag-error-maxfive {
    color: red;
    margin-left: 31.8rem;
}

.frequency-radio {
    margin-top: 1rem;
    margin-left: -0.5rem;
}

.success-popup {
    position: absolute;
    background-color: #DFF6DC;
    width: 100%;
    height: 5rem;
    padding-left: 3rem;
    z-index:1000;
    padding-top: 1.2rem;
    margin-top: 0rem;
    box-shadow: 0px 2px 2px 1px grey;
}

.close-popup-icon {
    float: right;
    padding-right: 1rem;
}

.tag-searchbox-label {
    margin-top: 2rem;
}

.search-div {
    width: 100% !important;
    margin-top: 0.3rem;
}

.input-search {
    width: 54.5rem;
    background-color: #F3F2F1;
}

.input-search-config {
    width: 53.5rem;
    background-color: #F3F2F1;
}

.tags-flex-preferences {
    padding-left: 0rem;
    margin-top: 1rem;
    max-width: 90%;
}

.preference-loader {
    position: absolute;
    margin-left: 40%;
    margin-top: 25%;
    z-index:1000;
}

.suggestion-loader {
    height: 4rem;
    width: 54.3rem;
    box-shadow: 0px 2px 2px 1px grey;
    text-align: center;
}

.dialog-container-div-preferences {
    height: 46rem;
    display: flex;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    width: auto;
    overflow: auto;
}

.info-icon-preferences {
    margin-top: 0.4rem;
    color: #6264A7;
}
