.table-user-cell {
    max-width: 20rem;
}

.table-posttype-cell {
    max-width: 15rem;
}

.table-delete-cell {
    max-width: 5rem;
}

.private-list-tags {
    width: 27rem;
    display: inherit;
}

.table-cell-content .ui-table__row .ui-table__cell:nth-child(4) div:nth-child(1) {
    display: inherit !important;
}

    .table-cell-content .ui-table__row .ui-table__cell:nth-child(4) div:nth-child(1) div {
        margin-bottom: 0.7rem !important;
    }

.ui-table__cell div:nth-child(1) div span div {
    margin-top: 0.5rem !important;
}

.dialog-container-private-list {
    width: 25% !important;
    padding:3rem !important;
    margin-left:-0.01rem !important;
}

.post-type-icon {
    border-radius: 1rem;
    height: 1rem !important;
    width: 1rem !important;
    margin-right: 0.5rem !important;
    margin-bottom: 0.5rem;
}

.dark-container .initials-color {
    color: #484644;
}

.user-avatar {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    font-weight: 700;
    padding-top: 0.4rem;
    font-size: 1.1rem;
    text-align: center;
}

.ui-list__item {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.avatar-name {
    width: 12rem;
    margin-left: 0.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ui-table__cell div:nth-child(1) div.user-avatar span div {
    margin-top: 0rem !important;
}

.delete-button-list {
margin-right:-1rem;
}

.user-heading {
    font-weight: 700;
}

    .user-heading:hover {
        color: #6264A7;
        text-decoration: underline;
        cursor: pointer;
    }

.nonmobile-private-list {
    display: block !important;
}

.content-text-private-list {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 2rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.dark-container .list-item {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    border-bottom: 1.5px solid #3b3a39;
    background-color: #323131;
}
.high-contrast-container .list-item {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    border-bottom: 1.5px solid lightgray;
    background-color: #000;
}
.default-container .list-item {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    border-bottom: 1.5px solid #f3f2f1;
    background-color: #fff;
}

@media only screen and (max-width: 750px) {
    .dialog-container-private-list {
        width: 80% !important;
        height: 18rem !important;
        padding: 3rem !important;
        align-self: center !important;
    }
}

@media only screen and (min-width: 651px) and (max-width: 700px) {
    .user-avatar {
        width: 4rem;
    }
}

@media only screen and (min-width: 701px) and (max-width: 750px) {
    .user-avatar {
        width: 3.5rem;
    }
}

@media only screen and (min-width: 751px) and (max-width: 825px) {
    .user-avatar {
        width: 3.2rem;
    }
}

@media only screen and (min-width: 826px) and (max-width: 900px) {
    .user-avatar {
        width: 2.8rem;
    }
}


