.input-fields-margin-between {
    top: 85%;
    margin-left: 34.5rem;
    position: absolute;
}

.input-fields-margin-between-tabview {
    top: 85%;
    margin-left: 59.5rem;
    position: absolute;
}

.search-icon {
    cursor: pointer;
    margin-top: 0rem;
}

.tag-list-box {
    width: 54.5rem;
    max-height: 13rem;
    box-shadow: 0px 2px 2px 1px grey;
    overflow: scroll;
}

.no-tag-found-config {
    width: 53.4rem;
    height: 2rem;
    box-shadow: 0px 2px 2px 1px grey;
    text-align: center;
}

.auto-suggestion-list-item {
    width: 100%;
    height: 3rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
}

    .auto-suggestion-list-item:hover {
        background-color: #6264A7;
        color: white;
        cursor: pointer;
    }

.configure-preferences-div {
    margin-left: 3rem;
}

.config-container {
    margin-left: 0.1%;
    height:15rem;
}

.tag-list-box-config {
    width: 53.4rem;
    max-height: 13rem;
    box-shadow: 0px 2px 2px 1px grey;
    overflow: scroll;
}

.configure-preferences-div-tabview {
    margin-left: 24rem;
}


.tag-error-label-config {
    color: red;
    margin-left: 38.7rem;
}

.tag-error-maxfive-config {
    color: red;
    margin-left: 30.8rem;
}

.tag-searchbox-label {
    margin-top: 2rem;
}

.search-div {
    width: 90%;
    margin-top: 0.3rem;
}

.input-search {
    width: 54.5rem;
    background-color: #F3F2F1;
}

/*.input-search-config {
    width: 53.5rem;
    background-color: #F3F2F1;
}*/

.tags-flex-preferences {
    padding-left: 0rem;
    margin-top: 1rem;
    max-width: 85%;
}

.preference-loader {
    position: absolute;
    margin-left: 40%;
    margin-top: 25%;
    z-index: 1000;
}

.suggestion-loader-config {
    height: 4rem;
    width: 53.4rem;
    box-shadow: 0px 2px 2px 1px grey;
    text-align: center;
}

.config-teams-tab-note{
    margin-top:15rem;
}

.dialog-container-div-config {
    height: 41.2rem;
    overflow:hidden;
}

.ts-tab-configuration-footerMessage{
    height:1.5rem !important;
    margin-top:0.2rem !important;
}