$main: #363628;
$heading: #808080;
$first: #5b5fc7;
$second: #e22c80;
$third: #64afac;
$background: #f7f5f6;

* {
  margin: 0;
  padding: 0;
}

body {
  background: $background;
  color: $main;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  width: auto;
  padding: 0;
  margin: 0;
}

.display-list,
.flex-wrapper,
.list-item,
.form-container,
.speaker-list {
  display: flex;
}

.flex-wrapper,
.form-container,
.list-item,
.display-list,
.speaker-list {
  align-items: center;
  width: 90vw;
}

h1 {
  color: $heading;
  text-align: center;
}

.speaker-box {
  border-width: 1px;
  border-style: solid;
  width: 80%;
  padding-bottom: 5pt;
  margin: 20pt;
}

.speaker-list {
  flex-direction: column;
  justify-content: center;

  h2,
  h4 {
    font-size: 8pt;
    text-align: center;
    letter-spacing: 1px;
    align-self: center;
    margin: 5pt;
  }
}

input {
  height: 20pt;

  background: none;
  color: $main;
  font-size: 12pt;
  border: 1px solid $main;
  border-radius: 2px;

  &:focus {
    background: white;
  }
}

button {
  background-color: $first;
  color: white;
  border: none;
  font-size: 12pt;
  padding: 5pt;
  border-radius: 5pt;
  margin: 5pt 0;
  width: 150pt;
}

.add-name > input {
  margin-right: 3pt;
  padding: 3pt;
}

.add-name > button {
  background-color: $third;
  width: 30pt;
  height: 23pt;
  margin: 0;
}

.add-name > hr {
  margin: 20pt 10pt 10pt 10pt;
}

.shuffle {
  background-color: $second;
}

/* Close button */
.close {
  width: 16pt;
  height: 16pt;
  font-size: 16px;
  line-height: 8pt;
  background: lighten($second, 3%);
  cursor: pointer;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-bottom: 4pt;
}

.list-item {
  margin: 10pt 0;
  color: $main;
  justify-content: space-between;
  padding: 2pt 8pt;
  width: 90%; /* was a pixel width */

  &:hover {
    transition: 0.7s all ease;
    color: $second;
    animation: 0.4s bounce infinite;
  }
}

.list-anim-enter {
  opacity: 0;
  transition: 500ms all ease;
}

.list-anim-enter-active {
  opacity: 1;
  transition: 500ms all ease;
  transform: rotateX(360deg);
}

.list-anim-leave {
  opacity: 1;
  transition: 500ms all;
}

.list-anim-leave-active {
  opacity: 0;
  transition: 500ms all;
  transform: translateX(20px);
}

.display-list {
  flex-direction: column;
  justify-content: center;
  width: 90%;

  h5 {
    margin-bottom: 6px;
  }
}

// Animation for list-item hover
@keyframes bounce {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(0px);
  }
}

.people-list {
  text-align: center;
}

:root {
  --delay: 0;
  --duration: 800ms;
  --iterations: 1;
}

/* •·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */

.reveal-text,
.reveal-text::after {
  animation-delay: var(--animation-delay, 2s);
  animation-iteration-count: var(--iterations, 1);
  animation-duration: var(--duration, 800ms);
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.reveal-text {
  --animation-delay: var(--delay, 0);
  --animation-duration: var(--duration, 800ms);
  --animation-iterations: var(--iterations, 1);
  position: relative;
  font-size: 20pt;
  animation-name: clip-text;
  color: $main;
  white-space: nowrap;
  cursor: default;

  &::after {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    pointer-events: none;
    animation-name: text-revealer;
  }
}

@keyframes clip-text {
  from {
    clip-path: inset(0 100% 0 0);
  }

  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes text-revealer {
  0%,
  50% {
    transform-origin: 0 50%;
  }

  60%,
  100% {
    transform-origin: 100% 50%;
  }

  60% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}
