body,
#root > div {
  background-color: #f3f2f1;
}

.flex-container {
  display: flex;
  max-width: 900px;
  margin: auto;
}

.features-col {
  width: 100%;
}

.features {
  min-height: 15vh;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0px 1.2px 3.6px rgba(0, 0, 0, 0.11),
    0px 6.4px 14.4px rgba(0, 0, 0, 0.13);
  border-radius: 4px;
  align-items: center;
}

.header {
  display: flex;
  background-color: #f0f0f0;
}

.title {
  margin: 20px;
  width: 100%;
  text-align: center;
}

.title h2 {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  display: inline;
  width: 100%;
}

.fui-TableCellLayout__main {
  overflow: hidden;
}

a {
  text-decoration: none;
}

.title span {
  margin: 3px 0;
  font-size: 12px;
  line-height: 12px;
  color: #8a8886;
}

.my-account-area {
  padding: 12;
}

.header-container span {
  font-size: 12px;
}

span {
  display: inline-block;
  margin: 5px;
}

.auth {
  margin-top: 30vh;
}

.auth h2 {
  text-align: center;
}

.auth button {
  display: block;
  margin: 32px auto;
}

@media only screen and (max-width: 820px) {
  .flex-container {
    display: block;
  }
}
