# TeamsFx files
env/.env.local
env/.env.*.user
.DS_Store
.localConfigs
build
appPackage/build

# dependencies
/node_modules
/tab/node_modules
/bot/node_modules

# testing
/coverage

# production
/build
/bot/lib

# misc
.env
.deployment