# TeamsFx files
teamsfx/.env.*
.DS_Store
.localSettings
build

# dependencies
/node_modules
/tab/node_modules
/bot/node_modules

# testing
/coverage

# production
/build
/bot/lib

# misc
.DS_Store
.env
.deployment