node_modules
.fx/configs/localSettings.json
.fx/states/*.userdata
.DS_Store
.env.teamsfx.local
.env.teamsfx.dev
appPackage/build

subscriptionInfo.json
build
.fx/configs/config.local.json
.fx/states/state.local.json
.backup