# TeamsFx files
env/.env.local
env/.env.*.user
.DS_Store
.localSettings
build

# dependencies
/node_modules
/tabs/node_modules
/alt-tabs-azure/node_modules

# testing
/coverage

# production
/build

# misc
.env
.deployment