#no-icon-header {
  grid-template-columns: 1fr max-content;
}

#footer-transparent-button {
  color: var(--colorBrandForeground1);
}

.empty-layout {
  display: grid;
  gap: 1rem;
}

.empty-layout svg {
  height: 120px;
  justify-self: center;
}

.empty-layout span {
  font-weight: var(--fontWeightSemibold);
  justify-content: center;
  text-align: center;
}

.loading-layout {
  display: grid;
}

.widget-padding {
  padding: 0.75rem 1.25rem 1rem 1.25rem;
}
