#no-icon-header {
  grid-template-columns: 1fr max-content;
}

.empty-layout {
  display: grid;
  gap: 1rem;
}

.empty-layout img {
  height: 120px;
  justify-self: center;
}

.empty-layout span {
  font-weight: var(--fontWeightSemibold);
  justify-content: center;
  text-align: center;
}

.loading-layout {
  display: grid;
}

.footer-btn button {
  color: var(--colorBrandForeground1);
  padding: 0;
}
