#root>div {
  background-color: #F3F2F1;
}

.flex-container {
  display: flex;
  max-width: 1440px;
  margin: auto;
}

.profile-col {
  height: 100vh;
}

.todo-col {
  height: 100vh;
  width: 100%;
}

.todo {
  min-height: 95vh;
  margin: 20px;
  background-color: #FFF;
}

.header {
  display: flex;
}

.title {
  margin: 20px;
}

.title h2 {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
}

.title span {
  margin: 3px 0;
  font-size: 12px;
  line-height: 12px;
  color: #8A8886;
}

.add-button {
  margin: 24px 24px auto auto;
}

.add-button-input>label>div {
  margin-bottom: auto;
}

.item {
  margin: 10px;
  display: flex;
}

span {
  display: inline-block;
  margin: 5px;
}

.is-completed-input {
  margin-right: 10px;
}

.is-completed-input>label>div {
  border-radius: 50%;
  margin-top: 5px;
}

.description {
  flex-grow: 1;
}

.description>div {
  width: 100%;
}

.description .ms-TextField-fieldGroup {
  border-style:none;
}

.text input {
  background-color: #FFF;
}

.text.is-completed input {
  text-decoration-line: line-through;
}

.action button{
  border-style: none;
  min-width: auto;
}

.action div {
  background-color: #FFF;
}

.action i {
  visibility: hidden;
}

.action span {
  font-size: 30px;
  margin-top: -10px;
}

.add .action button {
  background-color: #FFF;
}

.no-item {
  margin-top: 10vh;
}

.no-item img {
  display: block;
  margin: auto;
  width: 200px;
}

.no-item h2,
.no-item p {
  text-align: center;
}

@media only screen and (max-width: 820px) {
  .flex-container {
      display: block;
  }

  .profile-col {
      height: auto;
  }
}