# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# TeamsFx files
env/.env.*
.DS_Store
build
.deployment
.localSettings

# dependencies
/node_modules

# testing
/coverage